---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: '{"email":<EMAIL>,"password":<PASSWORD>}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f494315a4a0d80f7ae5e97092453c35f"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTRlOWU0YjliYWZkNGMwMjgzMjM1YTc5ZjA5YzNkOTkiLCJ1c2VyX2lkIjoyMzU3NjU4LCJuYW1lIjoiRGFyeWwgTWNDdWxsb3VnaCJ9.PivbbWAQn-sGOkjSiXtVEzYab7d_FNZ91rhDHezB8J0","user":{"id":2357658,"email":"stevendaryl3016@yahoo.com","created_at":"2016-10-03T15:02:31.988-04:00","updated_at":"2017-05-30T16:10:26.265-04:00","facebook_id":"10209300503301643","first_name":"Daryl","last_name":"McCullough","role":"user","stripe_customer_id":"cus_9KiY0mY2Y4Dihg","twitter_handle":"dmccullough3016","skype_handle":null,"github_handle":"DarylMcCullough","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":"My training was in physics, but my work experience
        has been in programming (in C++, Java, and Lisp). I am taking the Bloc Software
        Developer track in order to bring my coding skills up to date in modern web
        development tools and languages. Hopefully, this will lead to a new successful
        phase in my career.\n\nI am probably about the oldest student that Bloc has
        ever had--58. I am hoping that my training here leads to another 10 years
        or so of satisfying work for me, before retiring.\n\nSome personal information:
        I have four children, all adopted, of various ethnic background. They are
        all nearing adulthood (the youngest is 18). I''ve lived in Ithaca, New York
        for most of adult life, although I grew up in the South (in Rome, Georgia).","photo_file_name":"13690794_10208662758518422_299342847606852910_n.jpg","photo_content_type":"image/jpeg","photo_file_size":9056,"photo_updated_at":"2016-10-03T15:02:31.844-04:00","send_new_message_emails":true,"referred_by_id":null,"slug":"daryl-mccullough","os":"Windows","last_seen_at":"2017-05-30T16:10:26.307-04:00","private_profile":false,"google_plus_id":null,"linkedin":"https://www.linkedin.com/in/daryl-mccullough-99323023","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":5436,"phone_num":"(607)
        339-6019","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"designRunner00190","birthdate":"1958-02-16","gender":"Male","first_visit_id":null,"codewars_handle":"DarylMcCullough"}}'
  recorded_at: Tue, 30 May 2017 20:10:26 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/message_threads
    body:
      encoding: UTF-8
      string: '{"page":"1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTRlOWU0YjliYWZkNGMwMjgzMjM1YTc5ZjA5YzNkOTkiLCJ1c2VyX2lkIjoyMzU3NjU4LCJuYW1lIjoiRGFyeWwgTWNDdWxsb3VnaCJ9.PivbbWAQn-sGOkjSiXtVEzYab7d_FNZ91rhDHezB8J0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4b3f865e9ef90f12aab31e4e3e637c13"'
    body:
      encoding: UTF-8
      string: '{"items":[{"id":308950,"token":"c0dc1fb0-e874-45ff-9a6e-19465bbbd99d","subject":"Software
        Project: Backend Web Development Kele API Client - Extra Credit User Stories
        discussion","updated_at":"2017-05-30T18:53:09.082Z","unread":false,"user_image":"https://cdn-photos.bloc.io/square/623967/unnamed.jpg?1422145878","preview":"Daryl,
        \n\nYou are correct. ENV is automatically ...","first_name":"Brittany","last_name":"Martin","page":"1"},{"id":309756,"token":"e10f4c1a-6738-4592-b46b-fe85fc0ace7a","subject":"Appointment
        Time This Week","updated_at":"2017-05-29T22:00:34.043Z","unread":true,"user_image":"https://cdn-photos.bloc.io/square/623967/unnamed.jpg?1422145878","preview":"Hi
        Daryl, \n\nI made it back in time for our appo...","first_name":"Brittany","last_name":"Martin","page":"1"},{"id":3076[...]
