---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: '{"email":<EMAIL>,"password":<PASSWORD>}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13cd8d708a928d156619f7f7ddf013dd"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTRlOWU0YjliYWZkNGMwMjgzMjM1YTc5ZjA5YzNkOTkiLCJ1c2VyX2lkIjoyMzU3NjU4LCJuYW1lIjoiRGFyeWwgTWNDdWxsb3VnaCJ9.PivbbWAQn-sGOkjSiXtVEzYab7d_FNZ91rhDHezB8J0","user":{"id":2357658,"email":"stevendaryl3016@yahoo.com","created_at":"2016-10-03T12:02:31.988-07:00","updated_at":"2017-05-30T13:10:28.016-07:00","facebook_id":"10209300503301643","first_name":"Daryl","last_name":"McCullough","role":"user","stripe_customer_id":"cus_9KiY0mY2Y4Dihg","twitter_handle":"dmccullough3016","skype_handle":null,"github_handle":"DarylMcCullough","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":"My training was in physics, but my work experience
        has been in programming (in C++, Java, and Lisp). I am taking the Bloc Software
        Developer track in order to bring my coding skills up to date in modern web
        development tools and languages. Hopefully, this will lead to a new successful
        phase in my career.\n\nI am probably about the oldest student that Bloc has
        ever had--58. I am hoping that my training here leads to another 10 years
        or so of satisfying work for me, before retiring.\n\nSome personal information:
        I have four children, all adopted, of various ethnic background. They are
        all nearing adulthood (the youngest is 18). I''ve lived in Ithaca, New York
        for most of adult life, although I grew up in the South (in Rome, Georgia).","photo_file_name":"13690794_10208662758518422_299342847606852910_n.jpg","photo_content_type":"image/jpeg","photo_file_size":9056,"photo_updated_at":"2016-10-03T12:02:31.844-07:00","send_new_message_emails":true,"referred_by_id":null,"slug":"daryl-mccullough","os":"Windows","last_seen_at":"2017-05-30T13:10:28.024-07:00","private_profile":false,"google_plus_id":null,"linkedin":"https://www.linkedin.com/in/daryl-mccullough-99323023","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":5436,"phone_num":"(607)
        339-6019","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"designRunner00190","birthdate":"1958-02-16","gender":"Male","first_visit_id":null,"codewars_handle":"DarylMcCullough"}}'
  recorded_at: Tue, 30 May 2017 20:10:28 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/checkpoints/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTRlOWU0YjliYWZkNGMwMjgzMjM1YTc5ZjA5YzNkOTkiLCJ1c2VyX2lkIjoyMzU3NjU4LCJuYW1lIjoiRGFyeWwgTWNDdWxsb3VnaCJ9.PivbbWAQn-sGOkjSiXtVEzYab7d_FNZ91rhDHezB8J0
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Resource not found"}'
  recorded_at: Tue, 30 May 2017 20:10:28 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/checkpoints/<CHECKPOINT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTRlOWU0YjliYWZkNGMwMjgzMjM1YTc5ZjA5YzNkOTkiLCJ1c2VyX2lkIjoyMzU3NjU4LCJuYW1lIjoiRGFyeWwgTWNDdWxsb3VnaCJ9.PivbbWAQn-sGOkjSiXtVEzYab7d_FNZ91rhDHezB8J0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"43c6d2e1e1be257a8ebdf2a5182ee38f"'
    body:
      encoding: UTF-8
      string: '{"id":<CHECKPOINT_ID>,"name":"Extra Credit User Stories","body":"\u003c!--
        { ids:[<CHECKPOINT_ID>], name:''Extra Credit User Stories'', summary:''Kele
        Client extra credit user stories'' } --\u003e\nThe goal of extra credit is
        to push you towards self-reliance, so outside of a brief description, we don''t
        provide additional resources. If you finish your project early, challenge
        yourself to complete these additional user stories:\n\n| **User Story** |
        **Difficulty Rating** |\n| :-- | :-- |\n| As a developer, I want to test `Kele`
        using the [VCR gem](https://github.com/vcr/vcr) | 3 |\n| As a user, I want
        to [update existing checkpoint assignments](http://docs.blocapi.apiary.io/#reference/0/checkpoint-submissions/update)
        | 3 |","parent_id":null,"created_at":"2016-04-25T20:00:21.447-07:00","updated_at":"2016-04-25T20:59:05.493-07:00","assignment":"Optional:
        Complete one or more of the extra credit user stories.","summary":"Kele Client
        extra credit user stories","points":0,"project_name":"","roadmap_id":null,"active":true,"job_prep":false,"version":[0,0],"uuid":"3f714133-24a9-4920-a567-cff0019e94cb","ref":"3f714133-24a9-4920-a567-cff0019e94cb|0","retroactive_optional_date":null,"checkpoint_type":"extra_credit","quiz_id":null,"viewable_to_demo_user":false}'
  recorded_at: Tue, 30 May 2017 20:51:12 GMT
recorded_with: VCR 3.0.3
