---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: '{"email":"stevendaryl3016@yahoo.com","password":"F@@l1sh3016"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6d9e411d05ea27bd8dbc614c109a0a5b"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTRlOWU0YjliYWZkNGMwMjgzMjM1YTc5ZjA5YzNkOTkiLCJ1c2VyX2lkIjoyMzU3NjU4LCJuYW1lIjoiRGFyeWwgTWNDdWxsb3VnaCJ9.PivbbWAQn-sGOkjSiXtVEzYab7d_FNZ91rhDHezB8J0","user":{"id":2357658,"email":"stevendaryl3016@yahoo.com","created_at":"2016-10-03T19:02:31.988Z","updated_at":"2017-06-01T16:09:12.144Z","facebook_id":"10209300503301643","first_name":"Daryl","last_name":"McCullough","role":"user","stripe_customer_id":"cus_9KiY0mY2Y4Dihg","twitter_handle":"dmccullough3016","skype_handle":null,"github_handle":"DarylMcCullough","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":"My training was in physics, but my work experience
        has been in programming (in C++, Java, and Lisp). I am taking the Bloc Software
        Developer track in order to bring my coding skills up to date in modern web
        development tools and languages. Hopefully, this will lead to a new successful
        phase in my career.\n\nI am probably about the oldest student that Bloc has
        ever had--58. I am hoping that my training here leads to another 10 years
        or so of satisfying work for me, before retiring.\n\nSome personal information:
        I have four children, all adopted, of various ethnic background. They are
        all nearing adulthood (the youngest is 18). I''ve lived in Ithaca, New York
        for most of adult life, although I grew up in the South (in Rome, Georgia).","photo_file_name":"13690794_10208662758518422_299342847606852910_n.jpg","photo_content_type":"image/jpeg","photo_file_size":9056,"photo_updated_at":"2016-10-03T19:02:31.844Z","send_new_message_emails":true,"referred_by_id":null,"slug":"daryl-mccullough","os":"Windows","last_seen_at":"2017-06-01T16:09:15.238Z","private_profile":false,"google_plus_id":null,"linkedin":"https://www.linkedin.com/in/daryl-mccullough-99323023","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":5436,"phone_num":"(607)
        339-6019","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"designRunner00190","birthdate":"1958-02-16","gender":"Male","first_visit_id":null,"codewars_handle":"DarylMcCullough"}}'
  recorded_at: Thu, 01 Jun 2017 16:16:04 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTRlOWU0YjliYWZkNGMwMjgzMjM1YTc5ZjA5YzNkOTkiLCJ1c2VyX2lkIjoyMzU3NjU4LCJuYW1lIjoiRGFyeWwgTWNDdWxsb3VnaCJ9.PivbbWAQn-sGOkjSiXtVEzYab7d_FNZ91rhDHezB8J0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"436dad639d66390b86be26d63d79c227"'
    body:
      encoding: UTF-8
      string: '{"id":2357658,"slug":"daryl-mccullough","name":"Daryl McCullough","email":"stevendaryl3016@yahoo.com","title":null,"first_name":"Daryl","last_name":"McCullough","facebook_id":"10209300503301643","url":"/users/daryl-mccullough","bio":"My
        training was in physics, but my work experience has been in programming (in
        C++, Java, and Lisp). I am taking the Bloc Software Developer track in order
        to bring my coding skills up to date in modern web development tools and languages.
        Hopefully, this will lead to a new successful phase in my career.\n\nI am
        probably about the oldest student that Bloc has ever had--58. I am hoping
        that my training here leads to another 10 years or so of satisfying work for
        me, before retiring.\n\nSome personal information: I have four children, all
        adopted, of various ethnic background. They are all nearing adulthood (the
        youngest is 18). I''ve lived in Ithaca, New York for most of adult life, although
        I grew up in the South (in Rome, Georgia).","course":{"id":62,"name":"Software
        Developer Track","length":54,"kind":"software_dev_track","appointments_per_week":2},"current_enrollment":{"id":25610,"created_at":"2017-05-09T04:24:11.577-07:00","updated_at":"2017-05-30T14:30:56.002-07:00","cohort_id":null,"status":"active","mentor_id":623967,"deleted":false,"dropped_out_at":null,"birth_date":"2017-05-09T04:24:11.569-07:00","roadmap_id":38,"course_end_date":"2017-12-11T16:00:00.000-08:00","course_start_date":"2016-11-13T16:00:00.000-08:00","death_date":null,"sent_get_started_email":false,"course_id":62,"old_visit_id":null,"certified":false,"locked_message":"","latest":true,"chain_id":5436,"roadmap_ref":"63053e55-f838-4afe-9dce-f89ac6b83378|0","visit_id":"c08ca7c4-7b74-4db5-906b-3ba5b0d45f74"},"quota":0,"quota_limit":0,"type":"Student","status":"active","image_src":"https://cdn-photos.bloc.io/original/2357658/13690794_10208662758518422_299342847606852910_n.jpg?1475521351","large_image_src":"https://cdn-photos.bloc.io/large/2357658/13690794_10208662758518422_299342847606852910_n.jpg?1475521351","created_at":"2016-10-03
        12:02:31 -0700","facebook_profile_picture_url":"http://graph.facebook.com/10209300503301643/picture?width=110\u0026height=110","github_handle":"DarylMcCullough","codecademy_handle":"designRunner00190","student":true,"time_zone":{"name":"Eastern
        Time (US \u0026 Canada)","string":"(GMT-05:00) Eastern Time (US \u0026 Canada)","identifier":"America/New_York"}}'
  recorded_at: Thu, 01 Jun 2017 16:16:05 GMT
- request:
    method: put
    uri: https://www.bloc.io/api/v1/checkpoint_submissions/191787
    body:
      encoding: UTF-8
      string: '{"checkpoint_id":"<CHECKPOINT_ID>","assignment_branch":"checkpoint-8","assignment_commit_link":"https://github.com/DarylMcCullough/Kele/commit/d7f165770802bbf9b5054a68e8c57d0e4f03d45c","comment":"Updating
        my submission programmatically","enrollment_id":25610}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTRlOWU0YjliYWZkNGMwMjgzMjM1YTc5ZjA5YzNkOTkiLCJ1c2VyX2lkIjoyMzU3NjU4LCJuYW1lIjoiRGFyeWwgTWNDdWxsb3VnaCJ9.PivbbWAQn-sGOkjSiXtVEzYab7d_FNZ91rhDHezB8J0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e0d51cc7d65a8b96f80ad3149fdcc8a8"'
    body:
      encoding: UTF-8
      string: '{"id":191787,"status":"updated","work_commit_link":null,"assignment_branch":"checkpoint-8","assignment_commit_link":"https://github.com/DarylMcCullough/Kele/commit/d7f165770802bbf9b5054a68e8c57d0e4f03d45c"}'
  recorded_at: Thu, 01 Jun 2017 16:16:06 GMT
recorded_with: VCR 3.0.3
